* {
  box-sizing: border-box;
  margin: 5px;
  padding: 5px;
  

  
}
.App {
  text-align: center;
  margin: 5px;
  padding: 0px;
  font-size: calc(1em + 0.6vw);
  background-color: #4bc0d9;
  

}
.mainContainer {
  display: flex;
  
  flex-direction: column;
  min-height: 95vh;
  
  padding: 0px;

}
.menuContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
.modalContainer{
  padding: 0px;
  margin: 0px;
 
}
.myButton{
   border-radius: 5%;
   padding: calc(0.8em + 0.6vw);
}
.theModal{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 0px;
  margin: 0px;
}
.listContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: row;
  height: 90vh;
  font-size: calc(0.5em + 0.6vw);
  flex: 1;
  
 
 
 

}
.common{
  /* border: 1px solid #6457a6; */
  width: 33%;
  height: 100%;
  background-color: #91c4f2;
  border-radius: 5%;
  padding-bottom: 1em;

}
.common > span {
  color: #92374d;
  font-variant-caps: petite-caps;
  font-weight: bold;
  
}
/* .toDo{
  

}
.inProgress{
  border: 1px solid  #6457a6;
  width: 33%;
  height: 100%;
  background-color: #91c4f2;
  border-radius: 5%;
}
.done{
  border: 1px solid  #6457a6;
  
  width: 33%;
  height: 100%;
  background-color: #91c4f2;
  border-radius: 5%;
} */
.Tasks{
  margin-top: 1vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 80%;
  color: white;
  margin-left: 10%;
  text-transform: uppercase;
  
 
}
@media(max-width: 800px ){

  .listContainer {
    flex-direction: column;
  }
  .menuContainer{
    flex-direction: column;
  }
  .common{
    padding-bottom: 30px;
    width: 100%;
  }
/*   .toDo{
    width: 100%;
  }
  .inProgress{
    width: 100%;
  }
  .done{
    width: 100%;
  } */
  *{
    margin: 2px;
    padding: 2px;
  }
}

